@CHARSET "ISO-8859-1";

.title{
}
.question{
}
.general_error{
 background-color:pink;
 padding:10px;
 border:1px solid red;
 margin-bottom:10px;
 color:red;
}
.description{
 color:rgb(50,50,50);
 margin-bottom:10px;
}
.label{
 font-weight:bold;
 display:inline;
 margin-right:5px;
}
.more{
 display:inline;
 margin-right:5px;
 cursor:pointer;
}
.required{
 display:inline;
 color:red;
 margin-right:5px;
}
.error{
 display:inline;
 color:red;
}
input.text{
 border:solid 1px rgb(200,200,200);
 padding:5px 3px;
 color:rgb(50,70,20);
}
select.select{
 border:solid 1px rgb(200,200,200);
 padding:5px 3px;
 color:rgb(50,70,20);
}
textarea.text{
}
input.error{
 border-color:red;
 background-color:pink;
}
.field_description{
 margin-top:5px;
 margin-bottom:10px;
 color:rgb(50,50,50);
}
div.submit{
 margin-top:10px;
}
div.submit button{
 margin-right:10px;
}